body {
    /*background: url('../images/bg.jpg') no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 900px;
    margin: 0 auto;
    /*color:#dcdcdc;*/
   }

.post{
    margin: 0 auto;
    /*vertical-align: top;*/
}



