{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Globetrotting">
    <link rel="shortcut icon" href="{% static "images/favicon.png" %}">

    <title>Globetrotting : {% block title %}{% endblock %}</title>

    <link href="{% static 'dist/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'dist/css/blueimp-gallery.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/blog.css' %}" rel="stylesheet">


</head>
<body>

<div class="raw" >

    <!-- Carousel
    ============================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="{% static "images/cbr1100xx.jpg" %}" width="400" alt="First slide">
        </div>
        <div class="item">
          <img src="{% static "images/varadero.jpg" %}" width="400" alt="Second slide">
        </div>
        <div class="item">
          <img src="{% static "images/midnight.jpg" %}" width="400" alt="Third slide" >
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <!-- /.carousel -->

    {# navigation panel#}
    <div class="navbar navbar-default navbar-btn" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Globetrotting</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'blog:home' %}">Главная</a></li>
            <li><a href="{% url 'blog:archive' %}">Архив</a></li>
            <li><a href="#contact">Контакты</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-9 well">
      {% block content %}{% endblock %}
    </div>

    {# years panel#}
    <div class="panel-group" id="accordion" >
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              <center>2013</center>
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body well">
             Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              <center>2012</center>
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body well">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
             <center>2011</center>
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body well">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
          </div>
        </div>
      </div>
    </div>

    <hr>
    <center>
      <a href="http://moto.kiev.ua/forum/title/"><img src="{% static "images/moto_kiev_ua.gif" %}" width="80"></a>
      <a href="http://moto-help.livejournal.com/"><img src="{% static "images/motohelp.png" %}" width="80"></a><br/><br/>
      <a href="http://motosvit.com/"><img src="{% static "images/motosvit.jpg" %}"  width="80" height="68"></a>
      <a href="http://bikepost.ru/"><img src="{% static "images/bikepost.jpg" %}" width="80" height="68"></a><br/><br/>
      <a href="http://www.motosale.com.ua/"><img src="{% static "images/motosale.jpg" %}" height="68"></a><br/><br/>
      <a href="http://www.motobike.ua/"><img src="{% static "images/motobike.gif" %}" width="185"></a><br/><br/>
    </center>

</div>

</body>
</html>

<!-- Bootstrap core JavaScript
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static "dist/js/jquery-1.10.2.js" %}"></script>
<script src="{% static "dist/js/bootstrap.min.js" %}"></script>
<script src="{% static 'dist/js/blueimp-gallery.min.js' %}"></script>
